[Unit]
Description=V4L2 to framebuffer proxy

[Service]
Type=simple
#ExecStart=/opt/v4l2-framebuffer/v4l2-framebuffer 1280 1024
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/graphics/fbcon/cursor_blink'
ExecStart=/opt/ffmpeg-7.0.1-armhf-static/ffmpeg -probesize 6000000000000 -f video4linux2 -re -i /dev/kvmd-video -filter:v "select=not(mod(n\,4))" -pix_fmt rgb565le -f fbdev /dev/fb0
ExecStopPost=/bin/sh -c 'echo 1 > /sys/class/graphics/fbcon/cursor_blink'

[Install]
WantedBy=multi-user.target
